@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

/* 
=============
Color Themes
=============
*/

:root {
    --mainBackground: #f4f6f8;
    --tileBackGround: #ffffff;
    --primaryText: #19202d;
    --secondaryText: #6e8098;
    --ternaryText: #5964e0;
    --primaryBtnBackground: #5964e0;
    --btnHover: #939bf4;
    --chkBox: #979797;
    --chkBoxChecked: #5964e0;
    --chkBoxHover: #939bf4;
    --filterBoxBorder: #6e8098;
    --filterFill: #6E8098;
}

[data-theme='dark'] {
    --mainBackground: #121721;
    --tileBackGround: #19202d;
    --primaryText: #FFFFFF;
    --secondaryText: #6e8098;
    --ternaryText: #5964e0;
    --primaryBtnBackground: #5964e0;
    --btnHover: #939bf4;
    --chkBox: #979797;
    --chkBoxChecked: #5964e0;
    --chkBoxHover: #939bf4;
    --filterBoxBorder: #6e8098;
    --filterFill: #FFFFFF;

}

.app {
    background: var(--mainBackground);
    color: var(--primaryText);
}

/* 
==============
Theme Toggle
==============
*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* hide the check box */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

/* 
==============
Search bar
==============
*/

.filter {
    fill: var(--filterFill);
}

/* 
==============
Tile Grid
==============
*/

.tile-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
}

/* 
==============
Tile Component
==============
*/

.tile {
    background-color: var(--tileBackGround);
    border-radius: 0.5rem;
    padding: 2rem;
}

.location {
    color: var(--ternaryText);
}

.position-container h3 {
    color: var(--secondaryText);
}

/* flex container with posted at and contract */
.posted-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondaryText);
}