@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

/* 
=============
Color Themes
=============
*/

:root {
    --mainBackground: #f4f6f8;
    --tileBackGround: #ffffff;
    --primaryText: #19202d;
    --secondaryText: #6e8098;
    --ternaryText: #5964e0;
    --primaryBtnBackground: #5964e0;
    --btnHover: #939bf4;
    --chkBox: #979797;
    --chkBoxChecked: #5964e0;
    --chkBoxHover: #939bf4;
    --filterBoxBorder: #6e8098;
    --filterFill: #6E8098;
    --rowGap: 3rem;
    --columnGap: 0.5rem;
    --tileBorderRadius: 0.375rem;
    --tilePadding: 1.5rem;

}

[data-theme='dark'] {
    --mainBackground: #121721;
    --tileBackGround: #19202d;
    --primaryText: #FFFFFF;
    --secondaryText: #6e8098;
    --ternaryText: #5964e0;
    --primaryBtnBackground: #5964e0;
    --btnHover: #939bf4;
    --chkBox: #979797;
    --chkBoxChecked: #5964e0;
    --chkBoxHover: #939bf4;
    --filterBoxBorder: #6e8098;
    --filterFill: #FFFFFF;
    --rowGap: 3rem;
    --columnGap: 0.5rem;
    --tileBorderRadius: 0.375rem;
    --tilePadding: 1.5rem;


}

.app {
    background: var(--mainBackground);
    color: var(--primaryText);
    width: 100%;
}

/* 
==============
Header
==============
*/

.header {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: url("./Images/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 6rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 6rem;
}

/* 
==============
Theme Toggle
==============
*/

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

/* hide the check box */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* round toggle inside track */
.slider:before {
    position: absolute;
    content: "";
    height: 0.875rem;
    width: 0.875rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--ternaryText);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.6rem);
    -ms-transform: translateX(1.6rem);
    transform: translateX(1.6rem);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 0.75rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* 
================
Main Container
================
*/

.main-container {
  padding-left: var(--tilePadding);
  padding-right: var(--tilePadding);
  z-index: 100;
  position: relative;
  top: -2.5rem;
}
  

/* 
==============
Search bar
==============
*/
.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--rowGap);
  background-color: var(--tileBackGround);
  height: 2rem;
  border-radius: var(--tileBorderRadius);
  padding: var(--tilePadding);
}

/* search by title input */
.search-container input {
  background-color: var(--tileBackGround);
  border: none;
  color: var(--secondaryText);
  
}

.filter {
    fill: var(--filterFill);
    padding-right: var(--tilePadding);
}

.search-icon {
  display: flex;
  height: 3rem;
  width: 3rem;
  border-radius: 0.3rem;
  background-color: var(--ternaryText);
  align-items: center;
  justify-content: center;
}

/* 
==============
Tile Grid
==============
*/

.tile-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--rowGap);
}

/* 
==============
Tile Component
==============
*/

.tile {
    background-color: var(--tileBackGround);
    border-radius: var(--tileBorderRadius);
    padding: var(--tilePadding);
}

.location {
    color: var(--ternaryText);
}

.position-container h3 {
    color: var(--secondaryText);
}

/* flex container with posted at and contract */
.posted-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondaryText);
}

